* {
  padding: 0;
  margin: 0;
  font-family: "Kanit", sans-serif;
}

/* navbar */
.active {
  color: white !important;
  background-color: rgb(51, 51, 51) !important;
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}
.nav-link:hover {
  transition: all 0.3s ease-out;
  color: white;
  background-color: rgb(51, 51, 51);
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}
#navbar-scrollspy {
  transition: all 0.2s ease-in-out;
  background-color: rgba(255, 255, 255, 1);
}
/* navbar */

/* media scroller */
.mediaScroller {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  /* overflow-x: auto; */
  /* overscroll-behavior-inline: contain; */
}
/* media scroller */

/* hero  */
.nikeLogo {
  font-size: 150px;
  font-weight: 900;
  font-style: italic;
  background: linear-gradient(to right, crimson, pink, springgreen);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 1);
  display: block;
  text-align: center;
  transition: color 0.2s ease-in-out;
  text-transform: uppercase;
}

.nikeLogo:hover {
  color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.arrowRight {
  display: inline-block;
  transition: 0.5s;
}
.arrowRight:hover {
  transform: translateX(25px);
}

.exploreButton {
  font-size: 25px;
  transition: 0.5s;
  position: relative;
}
.exploreButton::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 16%;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}
.exploreButton:hover {
  transform: scale(1.25);
}
.exploreButton:hover::after {
  width: 100%;
}
/* hero  */

/* about */
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 20px;
  width: auto;
  color: black;
  border-radius: 12px;
}
.backgroundBlack {
  background-color: black;
}
.firstLine {
  font-size: 60px;
  max-width: 500px;
  margin: 0 auto;
  transition: all 2s;
}
.secondLine {
  transition: all 2s;
}
/* about */

/* dunks */
.DunkTitle {
  font-size: 50px;
  font-weight: 900;
}
.shoes .card {
  width: 85%;
  height: 420px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
.shoes .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: brown;
  clip-path: circle(150px at 80% 10%);
  transition: 0.5s ease-in-out;
}
.shoes .card:hover:before {
  clip-path: circle(300px at 80% -20%);
}
.shoes .card:after {
  content: "Nike";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 255, 0.04);
}
.shoes .card .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 100%;
  height: 220px;
  transition: 1s;
  /* adrian noob */
}
.shoes .card:hover .imgBx {
  top: 0%;
  transform: translateY(0%);
}
#dunks .card .imgBx .dunks1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 280px;
}
#boots .card .imgBx .dunks1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
}
.shoes .card .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 1;
}
.shoes .card:hover .contentBx {
  height: 210px;
}

.size {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
/* dunks */
